@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700&display=swap);

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

a,
button,
select {
    color: inherit;
    outline: none;
    background: none;
    border: none;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    width: 83%;
    margin-inline: auto;
    height: 100%;
    /* border: 1px solid red; */
}

header {
    z-index: 3;
}

header .container .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

header .container .nav .left {
    display: flex;
    gap: 48px;
}

header .container .nav .left .logo {
    width: 93px;
    height: 18px;
}

header .container .nav .left ul {
    display: flex;
    gap: 40px;
    align-items: center;

    font-weight: 400;
    font-size: 14px;

}

header .container .nav .right {
    font-size: 20px;
    display: flex;
    gap: 20px;
}

header .container .nav #menu {
    display: none;
}


#menu i {
    cursor: pointer;
    transition: .2s;
}

.menu_bar {
    position: absolute;
    width: 0px;
    box-shadow: px 0px 10px black;
    height: 100%;
    z-index: 2;
    margin-left: 20px;
    right: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: .2s;
}

.menu_bar .white_board {
    background-color: #fff;
}

.active {
    width: 200px;
}

.menu_bar ul {
    display: flex;
    align-items: left;
    flex-direction: column;
    font-size: 24px;
    padding: 10px;
}

.menu_bar ul li a {
    border-top: 1px solid black;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 100%;
    display: block;
    padding-block: 15px;
}

.menu_bar .right {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
}



main .home {
    height: calc(100vh - 60px);
    background-image: url(../images/home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

main .home .container {
    display: flex;
    align-items: center;
    height: 100%;
}

main .home .container .nav {
    max-width: 500px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

main .home .container .nav h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 88px;
    letter-spacing: -5px;
    padding-bottom: 8px;
}

main .home .container .nav p {
    font-weight: 400;
    line-height: 24px;
    color: #87898F;
}

main .home .container .nav button {
    font-family: 'DM Sans', sans-serif;
    padding: 12px 24px;
    background: linear-gradient(282.7deg, #000000 8.28%, #383B4A 85.92%);
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    margin-block: 28px;

}

main .home .container .nav .links {
    display: flex;
    gap: 16px;
    text-decoration: underline;
}

main .marketing {
    height: 100vh;
}



main .marketing .container .nav {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

main .marketing .container .nav .text {
    max-width: 570px;
}

main .marketing .container .nav .text h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    line-height: 64px;

}

main .marketing .container .nav .text h1 span {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #4781FF;
}

main .marketing .container .nav .text p {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #9093A3;
    padding-block: 28px;
}

main .marketing .container .nav .text a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 0px;
    color: #18181A;

}

main .marketing .container .nav .image {
    min-width: 436px;
    height: 436px;


}

main .support {
    background-image: url("../../assets/images/devices.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

main .support .container {
    display: flex;
    justify-content: right;
    width: 100%;


}

main .support .container .nav {
    height: 100vh;
    width: 542px;
    background: linear-gradient(354.14deg, #000000 8.96%, #4A4C5C 93.24%);
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 77px 100px 77px 48px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

}

main .support .container .nav h1 {
    font-weight: 500;
    font-style: Medium;
    font-size: 44px;
    line-height: 64px;
    letter-spacing: -2px;
    color: white;
}

main .support .container .nav h1 span {
    position: relative;
}

main .support .container .nav h1 span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #4781FF;
    left: 0;
    bottom: 10px;
}

main .support .container .nav ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main .support .container .nav ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
}

main .business {
    height: 100vh;
}

main .business .container .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-block: 144px;
    gap: 96px;
}

main .business .container .nav h1 {
    font-weight: 500;
    font-style: Medium;
    font-size: 44px;
    line-height: 64px;

}

main .business .container .nav .cards {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    flex-wrap: no-wrap;
    justify-content: center;
}

main .business .container .nav .cards .card {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 28px;
    border-radius: 16px;
    border: 3px solid #E5E5E554;
    height: 477px;
    padding: 52px 42px;
    background-color: #fff;

    width: 350px;
    flex: 1 1 350px;
    max-width: 350px;

}

main .business .container .nav .cards .card .profile {
    width: 128px;
    height: 128px;
}

main .business .container .nav .cards .card h4 {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    color: #18181A;

}

main .business .container .nav .cards .card p {
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #9698A5;

}

main .business .container .nav .cards .card button {
    width: 100%;
    height: 50px;
    padding: 12px;
    opacity: 1;
    border-radius: 10px;
    background: #18181A;
    color: #fff;
}

main .business .container .nav .cards #black {
    background: linear-gradient(354.14deg, #000000 8.96%, #4A4C5C 93.24%);
    border: none;

}

main .business .container .nav .cards #black h4 {
    color: #fff;
}

main .business .container .nav .cards #black button {
    background-color: #fff;
    color: #000;
}

main #key {
    height: fit-content;
    min-height: 100vh;
    background: #F0F0F0;
}

main #key .container .nav .cards .card {
    background: #fff;
    min-height: 600px;
    max-height: fit-content;
}

main #key .container .nav .cards .card h4 {
    color: #000;
}


main #key .container .nav .cards .card p, main #key .container .nav .cards .card h4  {
    text-align: left;
}

main #key .container .nav .cards .card button {
    width: 56px;
    min-height: 56px;
    border-radius: 50%;
    background: #F7F8FA;
    margin-left: auto;
    color: #000000;
    font-size: 19px;

}

main #key .container .nav .cards .card .profile {
    width: 240px;
    height: 240px;
}


footer .container .nav{
    border: 1px solid red;
}

footer .container .nav .lists{
    border: 1px solid red;
    display: flex;
    width: fit-content;
    gap: 64px;

}

footer .container .nav .lists h4{
font-weight: 500;
font-style: Medium;
line-height: 100%;
}

footer .container .nav .lists .list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer .container .nav .lists .list ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .container .nav .lists .list ul li{
font-weight: 400;
font-size: 14px;
line-height: 100%;
color: #9698A5;
}


/* Responsives */


@media screen and (max-width: 1200px) {
    main .business .container .nav {
        margin-top: 500px;
    }

    main .business .container .nav .cards {
        flex-direction: column;

    }

    main .business .container .nav .cards .card {
        min-width: 100%;
        align-items: start;
    }
}

@media screen and (max-width: 1024px) {
    main .marketing .container .nav .text h1 {
        font-size: 24px;
        line-height: 32px;
    }

    main .marketing .container .nav .image {
        min-width: 336px;
        height: 336px;


    }
}

@media (max-width: 992px) {
    main .business .container .nav .cards {
        gap: 20px;
        flex-wrap: no-wrap;
    }

    main .business .container .nav .cards .card {
        flex: 1 1 45%;
        max-width: 45%;
    }
}


@media screen and (max-width: 790px) {

    header .container .nav .left ul,
    header .container .nav .right {
        display: none;
    }

    header .container .nav #menu {
        display: block;
        font-size: 18px;
    }

    main .home {
        background: #ebeff4;
        padding-bottom: 50px;
        height: 70vh;
    }

    main .home .container .nav h1 {
        font-size: 52px;
        letter-spacing: -3px;
    }

    main .home .container .nav p {
        font-size: 12px;
        padding-block: 18px;
    }

    main .home .container .nav button {
        font-size: 12px;
        margin-block: 14px;
    }

    main .home .container .nav .links {
        font-size: 12px;
    }

    main .marketing .container .nav .image {
        min-width: 236px;
        height: 236px;


    }

    main .marketing .container .nav .text h1 {
        font-size: 18px;
        line-height: 24px
    }

    main .marketing .container .nav .text p {
        font-size: 12px;
        line-height: 16px
    }

    main .business .container .nav .cards {
        flex-direction: column;
        align-items: center;
    }

    main .business .container .nav .cards .card {
        width: 100%;
        max-width: 500px;
        flex: unset;

    }

    main .business .container .nav {
        margin-top: 550px;
    }

    main #key .container .nav .cards .card {
        padding-bottom: 500px;
    }

    main #key .container .nav .cards .card h4 {
        font-size: 20px;
    }

}



@media screen and (max-width: 512px) {
    main .marketing .container .nav .image {
        min-width: 336px;
        height: 336px;
    }

    main .marketing .container .nav {
        flex-direction: column;
        justify-content: center;
    }

    main .support .container .nav {
        padding: 61px 84px 61px 32px;
        height: fit-content;
    }

    main .support .container .nav h1 {
        font-size: 28px;
        line-height: 32px;
    }

    main .support .container .nav h1 span::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #4781FF;
        left: 0;
        bottom: 5px;
    }

    main .business .container .nav .cards {
        gap: 15px;
    }

    main .business .container .nav .cards .card {
        max-width: 100%;
    }

}